<div class="container mt-3">
    <div class="row">
        <div class="col-12 img text-center">
            <img [src]="url + 'avatars/' + band.band_image" alt="...">
        </div>
    </div>
    <div class="col-12 text-center">
        <h2>{{band.name}}</h2>
    </div>
    <p class="history" [innerHTML]="band.band_history"></p>
</div>

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div *ngFor="let album of albumes" class="card col-12 col-md-3 m-1" style="width: 18rem;">
            <div class="img mt-2">
                <img [src]="url + 'avatars/' + album.album_image" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ album.album_name }}</h5>
                <p class="card-text">{{album.record_label}}</p>
                <a [routerLink]="['/reviews/', album_id]" class="button">Reviews</a>
            </div>
        </div>
    </div>
</div>
